
body {
   background-image: url(https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=2000&w=1300);
}

.navbar-brand {
   font-family: 'teko:wght@500', sans-serif;
}

.nav-link {
   font-family: 'teko:wght@300', sans-serif;
}

footer {
   font-family: 'teko:wght@300', sans-serif;
   padding: 15px;
   text-align: center;
   color: white;
}